<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpaceInvadersRemake.Settings.GameConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SpaceInvadersRemake.Settings.Keyboard" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SpaceInvadersRemake.Settings.KeyBoard" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpaceInvadersRemake.Settings.GameConfig>
            <setting name="Input" serializeAs="String">
                <value>Keyboard</value>
            </setting>
        </SpaceInvadersRemake.Settings.GameConfig>
        <SpaceInvadersRemake.Settings.Keyboard>
            <setting name="Left" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="Right" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="Fire" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="Up" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="Down" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="Back" serializeAs="String">
                <value>Escape</value>
            </setting>
        </SpaceInvadersRemake.Settings.Keyboard>
        <SpaceInvadersRemake.Settings.KeyBoard>
            <setting name="Left" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="Right" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="Fire" serializeAs="String">
                <value>Space</value>
            </setting>
        </SpaceInvadersRemake.Settings.KeyBoard>
    </userSettings>
</configuration>